<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Link for vue.js-->
    <script src="https://unpkg.com/vue"></script>

    <!--Link to external file css-->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">


        <div class="nav">

            <button v-on:click="getLessons">Lessons</button>

            <button v-on:click="getUser">User</button>

        </div>

        <div v-if="showLessons" class="lessons">

            <ul v-for="lesson in lessons">
                <li>Topic: {{lesson.topic}}</li>
                <li>Location: {{lesson.location}}</li>
                <li>Price: {{lesson.price}}</li>
            </ul>

        </div>

        <div v-if="showUser" class="user">

            <ul>
                <li>Email: {{user.email}}</li>
                <li>Password: {{user.password}}</li>
            </ul>

        </div>


    </div>

    <script>

        var vueapp = new Vue({
            el: '#app',
            data: {
                lessons: [],
                user: {},
                showLessons: false,
                showUser: false
            },

            methods: {

                getLessons: function () {

                    fetch('http://localhost:3000/lessons')
                        .then(
                            function (response) {

                                response.json().then(

                                    function (json) {

                                        vueapp.lessons = json

                                    }
                                )
                            }
                        )

                    this.showLessons = true;
                    this.showUser = false;
                },

                getUser: function () {

                    fetch('http://localhost:3000/user')
                        .then(
                            function (response) {

                                response.json().then(

                                    function (json) {

                                        vueapp.user = json

                                    }
                                )
                            }
                        )

                    this.showUser = true;
                    this.showLessons = false;
                }
            }
        })

    </script>

</body>

</html>